@use '../../index.scss' as *;

.container {
  width: 100%;
  height: max-content;
  background: url('../../assets/backgrounds/blueRectangle.png') center center
    fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: scroll;
  position: relative;
}

.textGroup {
  width: 45%;
  padding-top: 158px;
  padding-left: 8%;
  text-align: left;
  .title {
    @include regular(48px, 'Poppins');
    margin: 0;
    color: #0075ff;

    .semiBold {
      @include semiBold(48px, 'Poppins');
    }
  }
  .smallBoldText {
    @include medium(16px, 'Barlow');
  }

  .btnGroup {
    display: flex;
    @include bold(16px, 'Barlow');
    .inactiveBtn {
      opacity: 0.5;
      color: #0075ff;
      padding-right: 6%;
    }
    .activeBtn {
      text-decoration: underline;
      color: #0075ff;
      padding-right: 6%;
    }
  }

  .blueBox {
    width: 95%;
    margin-top: 15px;
    border: solid 1px #0075ff;
    .understanding {
      margin-top: 20px;
      padding-left: 3%;
      padding-right: 20%;

      .question {
        margin: 0;
        @include regular(24px, 'Barlow');
        font-style: italic;
        color: #0075ff;
        margin-top: 23px;
        margin-bottom: 61px;
      }
    }
  }
  .smallTitle {
    display: flex;
    @include medium(24px, 'Poppins');
    color: #0075ff;
  }
  .smallParagraph {
    @include regular(16px, 'Barlow');
  }
}

.dragonMoonImg {
  position: absolute;
  width: 45%;
  top: 223px;
  right: 0;
}
