@use '../../index.scss' as *;

.container {
  width: 100%;
  height: max-content;
  background: url('../../assets/backgrounds/lilacRectangle.png') top center
    fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: scroll;
}

.textContainer {
  padding-top: 162px;
  padding-left: 8%;
  padding-bottom: 139px;
  width: 43%;
  text-align: left;
  position: relative;
  z-index: 1;
  .title {
    @include regular(48px, 'Poppins');
    margin: 0;
    color: #bb3cff;
  }
  .bold {
    @include semiBold(48px, 'Poppins');
  }
  .subTitle {
    @include medium(16px, 'Barlow');
    margin: 0;
  }

  .socialIcons {
    display: flex;
    .textGroup {
      @include medium(16px, 'Barlow');
      padding-right: 5%;
    }
    .hyperLink {
      display: flex;
      align-items: center;
    }
    .social {
      padding-right: 4%;
    }
  }

  .borderBox {
    border: 1px solid #bb3cff;
    .textBox {
      padding-left: 3%;
      padding-top: 27px;
      padding-bottom: 20px;
      padding-right: 10%;
      .title {
        @include regular(24px, 'Barlow');
        display: flex;
        align-items: center;
        color: #bb3cff;

        .icon {
          padding-left: 2%;
        }
      }

      .bodyText {
        @include medium(16px, 'Barlow');
        margin-top: 4px;
        .semiBold {
          @include bold(16px, 'Barlow');
        }
        .thin {
          @include regular(16px, 'Barlow');
        }
      }
    }
  }
}

.flyingBoat {
  width: 65%;
  position: absolute;
  top: 0px;
  right: 0px;
}
