@use '../../index.scss' as *;

.container {
  width: 100%;
  padding-bottom: 400px;
  background: url('../../assets/backgrounds/blushPinkBackground.svg') top center
    fixed no-repeat;
  background-size: cover;
  background-attachment: scroll;
  overflow: hidden;
  text-align: left;

  .innerContainer {
    width: 66%;
    padding-left: 16%;
    padding-top: 148px;

    .title {
      @include regular(48px, 'Poppins');
      color: #d10b00;
      margin: 0;
      .headingBold {
        @include semiBold(40px, 'Poppins');
        margin: 0;
      }
    }

    .paragraph {
      @include medium(16px, 'Barlow');
      margin: 0;
      padding-right: 16%;
    }
    .subTitle {
      @include semiBold(24px, 'Poppins');
      color: #d10b00;
      margin: 0;
      margin-top: 53px;
    }
  }

  .subFooter {
    display: flex;
    align-items: center;
    padding-left: 16%;
    padding-right: 19%;
    margin-top: 19px;
    .normalText {
      @include regular(16px, 'Poppins');
      color: black;
      padding-left: 5%;
      .semiBold {
        @include semiBold(16px, 'Poppins');
      }
    }
    .buttonText {
      @include semiBold(24px, 'Poppins');
      width: max(22%, 150px);
      color: #d10b00;
      border: solid 1px #d10b00;
      display: flex;
      padding: 16px 4%;
      justify-content: center;
      align-items: center;
      .icon {
        padding-left: 3%;
      }
    }
  }
  .sponsorSection {
    padding-left: 14%;
    padding-right: 19%;
    padding-bottom: 200px;
    padding-top: 50px;
    .otterCloudsImg {
      width: 100%;
    }

    .sponsorsList {
      display: flex;
      flex-flow: row wrap;
      align-items: stretch;
      // display: grid;
      // justify-content: center;
      // grid-column-gap: 6px;
      // grid-row-gap: 6px;
      // grid-template-columns: repeat(auto-fit, minmax(310px, 1fr));
    }
    .sponsorCol {
      flex: 1 33%;
    }
  }
}
